@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader p {
  font-family: "Shrikhand", cursive;
  width: 436px;
  font-size: 80px;
  background-image: linear-gradient(to top right, #99E2D0, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
}

.main-wrapper {
  position: relative;
}

header p {
  margin: 0;
}
header .header__logo {
  width: 44%;
  height: 10%;
  display: block;
  margin: 21px auto 13px auto;
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4%;
  box-shadow: inset 0 7px 3px -5px rgba(99, 99, 99, 0.2);
}
.location p {
  font-weight: bold;
  margin-top: 17px;
  margin-bottom: 14px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
main h1 {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin: 37px 50px 0px 50px;
}
main p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-top: 13px;
}
main div {
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 16px 22px 16px 22px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin: 15px 0 58px 0;
}
main div a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.functioning {
  height: 65vh;
}
.functioning h2 {
  padding-left: 5%;
  padding-top: 4vh;
  font-size: 24px;
  font-weight: 900;
}
.functioning .functioning__list {
  height: 100%;
  padding-left: 8%;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  row-gap: 6%;
}
.functioning li {
  position: relative;
  width: 95%;
  height: 18%;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 10%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 3px 4px 10px rgba(182, 179, 179, 0.5);
  counter-increment: steps;
}
.functioning li::before {
  content: counter(steps);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  left: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.functioning li:hover {
  background-color: #f2eafb;
  box-shadow: 3px 4px 10px rgba(54, 52, 52, 0.5);
}
.functioning li:hover i {
  color: #9356DC;
}
.functioning li i {
  color: gray;
  font-size: 20px;
}
.functioning li p {
  margin-left: 9%;
}

.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1%;
  height: 183vh;
  background-color: #f6f6f6;
}
.cards-section h2 {
  font-weight: 900;
  align-self: flex-start;
  margin: 7vh 0 1% 5%;
}

.cards-section__card {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 255px;
  box-shadow: 3px 4px 10px rgba(182, 179, 179, 0.5);
  border-radius: 10px;
}
.cards-section__card__description {
  height: 31%;
  display: flex;
  align-items: center;
  column-gap: 25%;
}
.cards-section__card__description__heart {
  font-size: 24px;
}
.cards-section__card__description__heart:hover > .solid {
  transform: scale(1);
}
.cards-section__card__description .solid {
  margin-left: -30px;
  margin-bottom: 6px;
  font-size: 24px;
  transform: scale(0);
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  transform-origin: bottom;
  transition: transform 400ms;
}
.cards-section__card__description--position {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
.cards-section__card__description h3 {
  font-weight: 700;
  margin: 0 0 0 6%;
}
.cards-section__card__description p {
  margin: 2% 0 0 6%;
  font-size: 17px;
  font-weight: 300;
}

.cards-section__card__img {
  position: relative;
  height: 69%;
}
.cards-section__card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.cards-section__card__img__txt-img {
  position: absolute;
  right: 40px;
  top: 10px;
  color: #278870;
  font-size: 14px;
  font-weight: 700;
  margin: 14px 14px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
}
.cards-section__card__img__txt-img p {
  margin: 0;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 30vh;
}
footer h3 {
  font-size: 18px;
  font-weight: 100;
  font-family: "Shrikhand", cursive;
  color: white;
  margin: 6% auto 1% 7%;
}
footer ul {
  padding: 0 0 0 7%;
  display: flex;
  flex-direction: column;
  row-gap: 6%;
  height: 80%;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
footer ul li i {
  color: white;
  width: 16px; /* pour aligner le texte des 2 premières lignes*/
  margin-right: 7px;
}

/*# sourceMappingURL=style.css.map */
