.functioning {
    height: 400px;
    h2 {
        padding-left: 5%;
        padding-top: 7%;
        font-size: 24px;
        font-weight: 900;
    }
    .functioning__list {
        height: 100%;
        padding-left: 8%;
        margin-top: 9%;
        display: flex;
        flex-direction: column;
        row-gap: 6%;
    }
    li {
        position: relative;
        width: 90%;
        height: 18%;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        column-gap: 8%;
        padding-left: 10%;
        background-color: #fbf9f9;
        border-radius: 20px;
        box-shadow: 3px 3px 8px rgba(182, 179, 179, 0.5);
        vertical-align: middle;
        counter-increment: steps;
        &::before {
            content: counter(steps);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            left: -10px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $primary_color;
            color: white;
        }
        &:hover {
            @include functioning_list-hover 
            }
        i {
            color: gray;
            font-size: 20px;
        }
        p {
            margin: auto;
        }
    }

}