.functioning {
    height: 65vh;
    h2 {
        padding-left: 5%;
        padding-top: 4vh;
        font-size: 24px;
        font-weight: 900;
    }
    .functioning__list {
        height: 100%;
        padding-left: 8%;
        margin-top: 4vh;
        display: flex;
        flex-direction: column;
        row-gap: 6%;
    }
    li {
        position: relative;
        width: 95%;
        height: 18%;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding-left: 10%;
        background-color: $background_color;
        border-radius: 20px;
        @include box-shadow;
        counter-increment: steps;
        &::before {
            content: counter(steps);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            left: -10px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $primary_color;
            color: white;
        }
        &:hover {
            @include lighten;
            @include box_shadow_darken;
            i {
                color: $primary_color;
            }
        }

        i {
            color: gray;
            font-size: 20px;                
        }
        p {
            margin-left: 9%;
        }
    }

}