.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1%;
    height: 183vh;
    background-color: $background_color;
    h2 {
        font-weight: 900;
        align-self: flex-start;
        margin: 7vh 0 1% 5%;
    }
    
} 