.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: $background_color;
    @include tablet-only{
        row-gap: 50px;
    }
    h2 {
        font-weight: 900;
        align-self: flex-start;
        margin: 55px 0 5px 25px;
        @include tablet-only{
            margin-left: 8%;
        }
    }
    &__all-cards {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 90%;
        margin-bottom: 65px;
        @include tablet-only{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: 30px;
        }
    }
}
